// @font-face {
//   font-family: 'southpark';
//   src: url('southpark.ttf') format ('ttf');
// }
@font-face {
  font-family: 'southpark';
  src: url('southpark.eot'); /* IE9 Compat Modes */
  src: url('southpark.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('southpark.woff2') format('woff2'), /* Super Modern Browsers */
       url('southpark.woff') format('woff'), /* Pretty Modern Browsers */
       url('southpark.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('southpark.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  background: url('http://i.imgur.com/qqHfLDA.jpg') no-repeat;
  background-size: cover;
  color: white;
  font-family: "southpark";
}

h1 {
  font-size: 6vw;
  padding-top: 0px;
  margin: 0px;
  text-align: center;
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.top-menu {
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
}
.start {
  font-size: 1.14vw;
  &:hover{
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    font-size: 3vw;
  }
}
.timer-container {
  font-size: 1.14vw;
  position: relative;
  padding-right: 1vw;
  p {
    margin: 0;
    @media screen and (max-width: 700px) {
      font-size: 2.5vw;
    }
  }
}
.time {
  @media screen and (max-width: 700px) {
    display: none
  }

}
.main-wrapper {
  background-size: cover;
  height: 100%;
  margin: 0px;
  width: 100%;
}
