body {
  background: url('http://i.imgur.com/qqHfLDA.jpg') no-repeat;
  background-size: cover;
  color: white;
  font-family: "southpark";
}

h1 {
  font-size: 6vw;
  padding-top: 0px;
  margin: 0px;
  text-align: center;
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.top-menu {
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
}
.start {
  font-size: 1.14vw;
  &:hover{
    cursor: pointer;
  }
}
.timer-container {
  font-size: 1.14vw;
  position: relative;
  padding-right: 1vw;
  p {
      margin: 0;
  }
}

.main-wrapper {
  background-size: cover;
  height: 100%;
  margin: 0px;
  width: 100%;
}

@font-face {
  font-family: 'south park 2';
  src: URL('south park 2.ttf') format ('ttf');
}
