.win-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('http://bit.ly/2krDdjV') no-repeat;
  background-size: cover;
  align-items: center;
  z-index: 3;
  .re-start {
    color: white;
    font-size: 5rem;
    width: 20%;
    height: 10%;
    position: relative;
    float: right;
    top: 60%;
    right: 28px;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 700px) {
      font-size: 6vw;
      right: 15%;
    }
  }
}

.member {
  color: white;
  font-size: 5rem;
  width: 20%;
  height: 10%;
  position: relative;
  float: left;
  top: 45%;
  left: 40px;
  @media screen and (max-width: 700px) {
    font-size: 6vw;
  }
}
